.greeting section {
    position: relative;
    margin-bottom: 20rem;
}

.greeting section .left {
    grid-column: 1/7;
}

.greeting section .right {
    width: calc(100% + 4rem);
    grid-column: 8/13;
    margin-left: -4rem;
    background: #ddd;
}

.greeting section h3 {
    font-size: 4rem;
    margin-left: 8rem;
}

.greeting section strong {
    font-size: 6rem;
    font-weight: 800;
    color: #00c4ff;
    line-height: 1.2;
}

.greeting section strong>span {
    color: #0064d5;
}

.greeting-text {
    display: flex;
    flex-flow: column wrap;
    grid-row-gap: 4rem;
    margin-left: 8rem;
}

.greeting-text p {
    font-size: 2rem;
    font-weight: 300;

}

.greeting-text .signature {
    display: flex;
    align-items: baseline;
    grid-column-gap: 2rem;
    margin: 2rem 0;
}

.greeting-text .signature strong {
    color: #333;
    font-size: 3rem;
    font-weight: 600
}

.greeting section hr {
    position: relative;
    width: 125%;
    margin: 6rem 0;
}