@media (min-width: 320px) {
    .main {
        width: 100vw;
        overflow: hidden;
    }

    .main section {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .main section .inner {
        width: 100%;
        padding: 0 2rem;
    }

    section.main-vs {
        background: #000;
        overflow: hidden;
    }

    section.main-vs .inner {
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
    }

    section.main-vs .inner h2 {
        font-size: 3.5rem;
        font-weight: 600;
        text-align: center;
        color: #fff;
        word-break: keep-all;
    }

    section.main-vs img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .6;
    }

    .mouse-icon {
        width: 100%;
        height: 5rem;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }

    .mouse-icon::after {
        display: block;
        content: '';
        width: 1px;
        height: 100%;
        background: #fff;
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: .3;
    }

    .mouse-icon span {
        display: block;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1;
        color: #fff;
        white-space: nowrap;
        margin-top: -3.6rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .mouse-icon i {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 3px;
        background-color: #fff;
        border-radius: 4px;
        -webkit-animation: scrolldown-anim 2s infinite ease-in;
        animation: scrolldown-anim 2s infinite ease-in;
        box-sizing: border-box;
    }

    @keyframes scrolldown-anim {
        0% {
            opacity: 0;
            height: 0px;
        }

        10% {
            opacity: 0;
            height: 30%;
        }

        40% {
            opacity: 1;
            height: 50%;
        }

        90% {
            transform: translate(0, 100%);
            height: 50%;
            opacity: 0;
        }

        100% {
            height: 45%;
            opacity: 0;
        }
    }

    section.text-section {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        text-align: center;
    }

    section.text-section strong {
        font-size: 1.8rem;
        font-weight: 800;
        color: #0064d5;
    }

    section.text-section p {
        font-size: 2.2rem;
        font-weight: 600;
        word-break: keep-all;
        margin-bottom: 2rem;
    }

    section.text-section p br {
        display: none;
    }

    section.business h3 {
        font-size: 6.2rem;
        font-weight: 700;
        transform: translateX(-2.5rem);
        opacity: .1;
    }

    section.business {
        height: auto;
    }

    section.business hr {
        display: none;
    }

    section.business dl {
        margin-top: 6rem;
    }

    section.business dl dd {
        margin: 4rem 0;
    }

    .topic-box {
        display: flex;
        flex-flow: column-reverse wrap;
    }

    .topic-box .docker {
        display: none;
    }

    .topic {
        margin: 1.6rem 0;
    }

    .topic h4 {
        font-size: 2.2rem;
        font-weight: 700;
    }

    .topic p {
        font-size: 1.6rem;
        margin-top: .4rem;
        font-weight: 500;
    }

    .topic-img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .topic-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .topic a {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3.6rem;
        margin-top: 2rem
    }

    .topic a span {
        font-size: 1.6rem;
        font-weight: 700;
    }

    .topic a .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.6rem;
        height: 100%;
        border: 1px solid #333;
        border-radius: 50%;
    }

    .topic a .icon svg {
        width: 1.6rem;
        height: 1.6rem;
    }

    section.major {
        display: flex;
    }

    section.major .inner {
        margin: auto 0;
    }

    section.major h3 {
        font-size: 3.4rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }

    section.recruit {
        display: flex;
        padding-bottom: 21rem;
        height: auto;
    }

    section.recruit .inner {
        padding: 0;
    }

    section.recruit .inner .box {
        display: flex;
        flex-flow: column-reverse wrap;
    }

    section.recruit .box h3 {
        font-size: 2.4rem;
        font-weight: 600;
        margin-bottom: 1.6rem;
    }

    section.recruit .box h4 {
        font-size: 1.8rem;
        font-weight: 400;
    }

    section.recruit .box .icon-plus {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
    }

    section.recruit .box .icon-plus svg {
        width: 100%;
        height: 100%;
    }

    section.recruit .left,
    section.recruit .right {
        padding: 4rem 2rem;
    }

    section.recruit dl dd a {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        height: auto;
        padding: 1.6rem;
    }

    section.recruit .left {
        color: #fff;
        background: #0064d5 url(../../assets/images/main/img_main_recruit.png) no-repeat;
        background-size: cover;
    }

    section.recruit .left dl {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    section.recruit .left dl dt {
        width: 100%;
        font-size: 1.6rem;
        font-weight: 300;
        word-break: keep-all;
        margin-bottom: 2.4rem;
    }

    section.recruit .left dl dd {
        width: calc(50% - 1rem);
    }

    section.recruit .left dl dd a {
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding: 0;
        height: 3.6rem;
    }

    section.recruit .box .left .icon-plus {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.6rem;
        height: 2.6rem;
        border: 1px solid #fff;
        border-radius: 50%;
        margin-right: 1.2rem;
    }

    section.recruit .box .left .icon-plus svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: #fff;
    }

    section.recruit .right {
        background: rgba(255, 255, 255, 0.15);
        padding-top: 2rem;
    }

    section.recruit .right h3 {
        font-weight: 700;
    }

    section.recruit .right dl dd {
        margin-bottom: 1.6rem;
    }

    section.recruit .right dl dd a {
        border: 1px solid #333;
        background: rgba(255, 255, 255, .4);
    }

    section.recruit .right h4 {
        font-weight: 600;
    }

    section.recruit .right dl dd a p {
        width: 100%;
        font-size: 1.4rem;
        margin-top: .8rem;
    }

    section.recruit .right dl dd a strong {
        display: inline-block;
        font-weight: 700;
        margin-right: 1.6rem;
    }

    section.recruit .right dl dd a .icon-plus {
        position: absolute;
        top: center;
        right: 1.6rem;
    }

    section.recruit .right dl dd a .icon-plus svg {
        fill: #333;
    }

    .main-bg {
        display: block;
        width: 100%;
        height: 65vh;
        position: absolute;
        bottom: 21rem;
        left: 0;
        z-index: -1;
    }

    .main-bg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 380px) {
    .main-bg {
        height: 55vh;
    }

    section.recruit .right h3 {
        margin-bottom: 2.4rem;
    }
}

/* 태블릿 세로모드 */
@media (min-width: 768px) and (orientation: portrait) {
    .main section .inner {
        padding: 0 3rem
    }

    section.business {
        overflow: initial;
    }

    section.business h3 {
        font-size: 7rem;
    }

    section.business dl {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    section.business dl dd {
        width: calc(50% - 1.5rem);
        margin: 0;
    }

    section.business dl dd:nth-child(even) {
        margin-top: 17%;
    }

    section.business dl dd:nth-child(odd) {
        margin-top: -8%;
    }

    section.business dl dd:nth-child(1) {
        margin-top: 0;
    }

    section.recruit .inner {
        padding: 0;
    }

    section.recruit .left,
    section.recruit .right {
        padding: 4rem 3rem;
    }
}

@media (min-width: 1024px) and (orientation: portrait) {
    section.major {
        height: auto;
        margin: 16rem 0;
    }

    .main-bg {
        height: 45vh;
    }
}

/* 태블릿 가로모드 */
@media (min-width: 1024px) and (orientation: landscape) {
    .main section .inner {
        padding: 0 3rem;
    }

    section.business {
        overflow: initial;
        margin: 4rem 0;
    }

    section.business h3 {
        font-size: 7.2rem;
        transform: translateX(-3.5rem);
    }

    section.business dl {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    section.business dl dd {
        width: calc(50% - 1.5rem);
        margin: 0;
    }

    section.business dl dd:nth-child(even) {
        margin-top: 18%;
    }

    section.business dl dd:nth-child(odd) {
        margin-top: -9%;
    }

    section.business dl dd:nth-child(1) {
        margin-top: 0;
    }

    section.recruit {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    section.recruit .inner .box {
        flex-flow: row wrap;
    }

    section.recruit .left,
    section.recruit .right {
        padding: 5rem 4rem;
    }

    section.recruit .left h3,
    section.recruit .right h3 {
        font-size: 3.2rem;
        margin-bottom: 2.4rem
    }

    section.recruit .left h4,
    section.recruit .right h4 {
        font-size: 2.2rem;
    }

    section.recruit .left {
        width: calc(50% - 4rem);
    }

    section.recruit .left dl {
        display: block;
    }

    section.recruit .left dl dt {
        margin-bottom: 4rem;
    }

    section.recruit .left dl dd {
        width: 100%;
        margin-bottom: 2.4rem;
    }

    section.recruit .left dl dd a {
        height: 5.6rem;
        width: 50%;
        padding-bottom: .8rem;
    }

    section.recruit .left dl dd a::after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    section.recruit .box .left .icon-plus {
        border: none;
    }

    section.recruit .box .left .icon-plus svg {
        width: 1.4rem;
        height: 1.4rem;
    }

    section.recruit .left p {
        font-size: 1.8rem;
        line-height: 1.4;
    }

    section.recruit .right {
        width: calc(50% + 4rem);
        background: rgba(255, 255, 255, .7);
    }

    section.recruit .right h4 {
        font-weight: 700;
    }

    section.recruit .right dl dd a {
        padding: 2rem;
        background: transparent;
    }

    section.recruit .right dl dd a p {
        font-size: 1.6rem;
        margin-top: 1.2rem;
    }

    .main-bg {
        height: 92vh;
        bottom: 16rem;
    }
}

@media (min-width: 1280px) and (orientation: landscape) {

    /* ipad pro 12.9' Landscape */
    section.main-vs .inner h2 {
        font-size: 5.2rem;
    }

    .mouse-icon span {
        font-size: 1.6rem;
        font-weight: 300;
    }

    section.text-section strong {
        font-size: 2.2rem;
    }

    section.text-section p {
        font-size: 3.2rem;
        margin-bottom: 2.8rem
    }

    section.business {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    section.business .inner {
        width: 100vw;
        padding: 0;
    }

    section.business h3 {
        font-size: 9.6rem;
        transform: translateX(-1rem);
    }

    section.business dl {
        display: flex;
        flex-wrap: wrap;
        white-space: nowrap;
        width: 500vw;
        height: 56vh;
    }

    section.business dl dd {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        width: 100vw;
        padding: 0 4rem;
    }

    section.business dl dd:nth-child(even),
    section.business dl dd:nth-child(odd) {
        margin-top: 0;
    }

    .topic-box {
        grid-column: 2/12;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        column-gap: 3rem;
        height: 100%;
    }

    .topic-box .docker {
        display: block;
        font-size: 15rem;
        font-weight: 800;
        opacity: 0.1;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-125%);
    }

    .topic-box .topic {
        max-width: 320px;
        margin-left: 6rem;
    }

    .topic-box .topic h4 {
        font-size: 4.8rem;
        font-weight: 800;
        margin-bottom: 2rem;
    }

    .topic-box .topic p {
        white-space: wrap;
        font-size: 2.4rem;
        line-height: 1.4;
        word-break: keep-all;
        font-weight: 400;
    }

    .topic-box .topic-img {
        width: 60%;
    }

    .topic a {
        justify-content: space-between;
        width: 80%;
        height: auto;
        margin-top: 4.8rem;
    }

    .topic a span {
        font-size: 2rem;
    }

    .topic a .icon {
        width: 4.2rem;
        height: 4.2rem;
    }

    section.major {
        height: 100vh;
    }

    section.recruit {
        height: 70vh;
        padding-bottom: 16rem;
    }

    .main section.recruit .inner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .main section.recruit .box {
        grid-column: 2/12;
        margin-bottom: 8rem;
    }
}


@media (min-width: 1366px) {
    /* Laptop */
}

@media (min-width: 1440px) {
    /* Desktop */
}