@media (min-width: 320px) {
    .main {
        width: 100vw;
    }

    .main section {
        width: 100%;
        height: 100vh;
    }

    .main section .inner {
        width: 100%;
        padding: 0 2rem;
    }

    section.main-vs {
        background: #000;
        overflow: hidden;
    }

    section.main-vs .inner {
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
    }

    section.main-vs .inner h2 {
        font-size: 3.5rem;
        font-weight: 600;
        text-align: center;
        color: #fff;
        word-break: keep-all;
    }

    section.main-vs img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .6;
    }

    .mouse-icon {
        width: 100%;
        height: 5rem;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }

    .mouse-icon::after {
        display: block;
        content: '';
        width: 1px;
        height: 100%;
        background: #fff;
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: .3;
    }

    .mouse-icon span {
        display: block;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1;
        color: #fff;
        white-space: nowrap;
        margin-top: -3.6rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .mouse-icon i {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 3px;
        background-color: #fff;
        border-radius: 4px;
        -webkit-animation: scrolldown-anim 2s infinite ease-in;
        animation: scrolldown-anim 2s infinite ease-in;
        box-sizing: border-box;
    }

    @keyframes scrolldown-anim {
        0% {
            opacity: 0;
            height: 0px;
        }

        10% {
            opacity: 0;
            height: 30%;
        }

        40% {
            opacity: 1;
            height: 50%;
        }

        90% {
            transform: translate(0, 100%);
            height: 50%;
            opacity: 0;
        }

        100% {
            height: 45%;
            opacity: 0;
        }
    }

    section.text-section {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        text-align: center;
    }

    section.text-section strong {
        font-size: 1.8rem;
        font-weight: 800;
        color: #0064d5;
    }

    section.text-section p {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.364;
        word-break: keep-all;
        margin-bottom: 2rem;
    }

    section.business {
        height: auto;
    }

    section.business h3 {
        font-size: 6.2rem;
        font-weight: 700;
        transform: translateX(-2.5rem);
        padding: 4rem 0 6rem;
        color: #d5d5d5;
    }

    .topics dd {
        display: block;
        overflow: hidden;
        margin-bottom: 6rem;
    }

    .topic {
        display: block;
        width: 100%;
    }

    .topic .image {
        width: 100%;
        height: auto;
    }

    .topic .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .topic .text {
        font-size: 1.6rem;
        margin-top: 2rem;
    }

    .topic .number {
        display: none;
    }

    .topic .name {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 1.2rem
    }

    .topic .desc {
        font-weight: 500;
        margin-bottom: 1.6rem
    }

    .topic .view {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .topic .view span {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .topic .view .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        border: 1px solid #333;
        border-radius: 50%;
    }

    .topic .view .icon svg {
        width: 1.6rem;
        height: 1.6rem;
    }

    section.major {
        display: flex;
    }

    section.major .inner {
        margin: auto 0;
    }

    section.major h3 {
        font-size: 3.4rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }

    section.recruit {
        display: flex;
        padding-bottom: 16rem;
        height: auto;
    }

    section.recruit .inner {
        padding: 0;
    }

    section.recruit .inner .box {
        display: flex;
        flex-flow: column-reverse wrap;
    }

    section.recruit .box h3 {
        font-size: 2.4rem;
        font-weight: 600;
        margin-bottom: 1.6rem;
    }

    section.recruit .box h4 {
        font-size: 1.8rem;
        font-weight: 400;
    }

    section.recruit .box .icon-plus {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
    }

    section.recruit .box .icon-plus svg {
        width: 100%;
        height: 100%;
    }

    section.recruit .left,
    section.recruit .right {
        padding: 4rem 2rem;
    }

    section.recruit dl dd a {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        height: auto;
        padding: 1.6rem;
    }

    section.recruit .left {
        color: #fff;
        background: #0064d5 url(../../assets/images/main/img_main_recruit.png) no-repeat;
        background-size: cover;
    }

    section.recruit .left dl {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    section.recruit .left dl dt {
        width: 100%;
        font-size: 1.6rem;
        font-weight: 300;
        word-break: keep-all;
        margin-bottom: 2.4rem;
    }

    section.recruit .left dl dd {
        width: calc(50% - 1rem);
    }

    section.recruit .left dl dd a {
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding: 0;
        height: 3.6rem;
    }

    section.recruit .box .left .icon-plus {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.6rem;
        height: 2.6rem;
        border: 1px solid #fff;
        border-radius: 50%;
        margin-right: 1.2rem;
    }

    section.recruit .box .left .icon-plus svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: #fff;
    }

    section.recruit .right {
        background: rgba(255, 255, 255, 0.15);
        padding-top: 2rem;
    }

    section.recruit .right h3 {
        font-weight: 700;
    }

    section.recruit .right dl dd {
        margin-bottom: 1.6rem;
    }

    section.recruit .right dl dd a {
        border: 1px solid #333;
        background: rgba(255, 255, 255, .4);
    }

    section.recruit .right h4 {
        font-weight: 600;
    }

    section.recruit .right dl dd a p {
        width: 100%;
        font-size: 1.4rem;
        margin-top: .8rem;
    }

    section.recruit .right dl dd a strong {
        display: inline-block;
        font-weight: 700;
        margin-right: 1.6rem;
    }

    section.recruit .right dl dd a .icon-plus {
        position: absolute;
        right: 1.6rem;
    }

    section.recruit .right dl dd a .icon-plus svg {
        fill: #333;
    }

    .main-bg {
        display: block;
        width: 100%;
        height: 65vh;
        position: absolute;
        bottom: 21rem;
        left: 0;
        z-index: -1;
    }

    .main-bg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 380px) {
    .main-bg {
        height: 55vh;
    }

    section.recruit .right h3 {
        margin-bottom: 2.4rem;
    }
}

/* 태블릿 세로모드 */
@media (min-width: 768px) and (orientation: portrait) {
    .main section .inner {
        padding: 0 3rem
    }

    section.business {
        overflow: initial;
    }

    section.business h3 {
        font-size: 7rem;
        transform: translateX(-3.5rem);
    }

    .topics {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .topics dd {
        width: calc(50% - 1.5rem);
        margin: 0;
    }

    .topics dd:nth-child(even) {
        margin-top: 20%;
    }

    .topics dd:nth-child(odd) {
        margin-top: -5%;
    }

    .topics dd:nth-child(1) {
        margin-top: 0;
    }

    section.recruit .inner {
        padding: 0;
    }

    section.recruit .left,
    section.recruit .right {
        padding: 4rem 3rem;
    }
}

@media (min-width: 1024px) and (orientation: portrait) {
    .main-bg {
        height: 45vh;
        bottom: 16rem;
    }
}

/* 태블릿 가로모드 */
@media (min-width: 1024px) and (orientation: landscape) {
    .main section .inner {
        padding: 0 3rem;
    }

    section.business {
        overflow: initial;
        margin: 4rem 0;
    }

    section.business h3 {
        font-size: 7.2rem;
        transform: translateX(-3.5rem);
    }

    .topics {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .topics dd {
        width: calc(50% - 1.5rem);
        margin: 0;
    }

    .topics dd:nth-child(even) {
        margin-top: 18%;
    }

    .topics dd:nth-child(odd) {
        margin-top: -9%;
    }

    .topics dd:nth-child(1) {
        margin-top: 0;
    }

    section.recruit {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    section.recruit .inner .box {
        flex-flow: row wrap;
    }

    section.recruit .left,
    section.recruit .right {
        padding: 5rem 4rem;
    }

    section.recruit .left h3,
    section.recruit .right h3 {
        font-size: 3.2rem;
        margin-bottom: 2.4rem
    }

    section.recruit .left h4,
    section.recruit .right h4 {
        font-size: 2.2rem;
    }

    section.recruit .left {
        width: calc(50% - 4rem);
    }

    section.recruit .left dl {
        display: block;
    }

    section.recruit .left dl dt {
        margin-bottom: 4rem;
    }

    section.recruit .left dl dd {
        width: 100%;
        margin-bottom: 2.4rem;
    }

    section.recruit .left dl dd a {
        height: 5.6rem;
        width: 50%;
        padding-bottom: .8rem;
    }

    section.recruit .left dl dd a::after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    section.recruit .box .left .icon-plus {
        border: none;
    }

    section.recruit .box .left .icon-plus svg {
        width: 1.4rem;
        height: 1.4rem;
    }

    section.recruit .left p {
        font-size: 1.8rem;
        line-height: 1.4;
    }

    section.recruit .right {
        width: calc(50% + 4rem);
        background: rgba(255, 255, 255, .7);
    }

    section.recruit .right h4 {
        font-weight: 700;
    }

    section.recruit .right dl dd a {
        padding: 2rem;
        background: transparent;
    }

    section.recruit .right dl dd a p {
        font-size: 1.6rem;
        margin-top: 1.2rem;
    }

    .main-bg {
        height: 92vh;
        bottom: 16rem;
    }
}

@media (min-width: 1280px) {
    .main .inner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    section.main-vs .inner h2 {
        grid-column: 2/13;
        font-size: 6.2rem;
        text-align: left;
    }

    .mouse-icon span {
        font-size: 1.6rem;
        font-weight: 300;
    }

    section.text-section {
        height: 50vh;
    }

    section.text-section strong {
        font-size: 2.4rem;
    }

    section.text-section p {
        grid-column: 1/13;
        font-size: 3.6rem;
        margin-bottom: 2.8rem
    }

    section.business {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    section.business .inner {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        padding: 0;
    }

    section.business h3 {
        color: #333;
        font-size: 10.2rem;
        transform: translateX(-1rem);
        width: auto;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 1;
    }

    .topics dd:nth-child(even),
    .topics dd:nth-child(odd) {
        margin-top: 0;
    }

    .topics {
        display: flex;
        flex-wrap: nowrap;
        width: 400%;
        height: 100vh;
    }

    .topics dd {
        display: flex;
        justify-content: center;
        width: 100%;
        transform: translateX(15%);
    }

    .topic {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 90%;
        max-width: 1140px;
        height: 480px;
        margin: auto 4rem auto auto;
    }

    .topic .image {
        width: auto;
        height: 100%;
        margin-left: 5rem;
    }

    .topic .text {
        width: 33.33%;
    }

    .topic .text .number {
        display: block;
        font-size: 9.4rem;
        font-weight: 900;
        color: #e2e2e2;
        z-index: -1;
        margin-left: -28px;
    }

    .topic .text .name {
        font-size: 4rem;
        margin-top: -40px;
        margin-bottom: 2.8rem;
    }

    .topic .text .desc {
        font-size: 2rem;
        word-break: keep-all;
    }

    .topic .text .view {
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-top: 6rem;
    }

    .topic .text .view span {
        font-size: 1.8rem;
    }

    .topic .text .view .icon {
        margin-right: 2.4rem;
        transition: ease .2s;
    }

    @keyframes hoverBounce {

        0%,
        100% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(6px);
        }
    }

    .topic:hover .text .view .icon {
        animation-name: hoverBounce;
        animation-duration: .35s;
        animation-iteration-count: 2;
        animation-delay: .3s;
        background: #282828;
    }

    .topic .text .view .icon svg {
        transition: ease .2s;
    }

    .topic:hover .text .view .icon svg {
        fill: #fff;
    }

    section.major {
        height: 100vh;
    }

    section.major .inner {
        display: block;
        width: 73.33%;
        min-width: 1180px;
        margin: auto auto;
        padding: 0;
    }

    section.major h3 {
        font-size: 4.2rem;
        margin-bottom: 4rem;
    }

    section.recruit {
        height: 80vh;
        padding-bottom: 20rem;
    }

    section.recruit .inner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 73.33%;
        min-width: 1180px;
        padding: 0;
    }

    section.recruit .box {
        grid-column: 2/12;
        margin-bottom: 12rem;
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.12);
    }

    section.recruit .left,
    section.recruit .right {
        padding: 6rem 4.8rem;
    }

    section.recruit .left h3,
    section.recruit .right h3 {
        font-size: 3.6rem;
    }

    section.recruit .left h4,
    section.recruit .right h4 {
        font-size: 2.4rem;
    }

    section.recruit .left p {
        font-size: 1.8rem;
    }

    section.recruit .left dl dd {
        margin-bottom: 3.2rem
    }

    section.recruit .left dl dd a {
        padding-bottom: 1.2rem;
    }

    section.recruit .right dl dd a {
        padding: 2.2rem 2.4rem;
    }

    section.recruit .right dl dd a p {
        font-size: 1.8rem;
        margin-top: 1.2rem;
    }

    section.recruit .right dl dd a .icon-plus {
        right: 2.4rem;
    }

    section.recruit .left a .icon-plus,
    section.recruit .right a .icon-plus {
        transition: ease .4s;
    }

    section.recruit .left a:hover .icon-plus,
    section.recruit .right a:hover .icon-plus {
        transform: rotate(180deg);
    }

    section.recruit .left dl dd a::before {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: .5;
    }

    section.recruit .left dl dd a::after {
        width: 0;
        transition: ease .4s;
    }

    section.recruit .left dl dd a:hover::after {
        width: 100%;
    }

    section.recruit .right {
        background: rgba(255, 255, 255, .74)
    }

    section.recruit .right dl dd a {
        overflow: hidden;
    }

    section.recruit .right dl dd a::after {
        display: block;
        content: '';
        width: 150px;
        height: 100px;
        background: #0b1164;
        right: -150px;
        top: 50%;
        position: absolute;
        opacity: .05;
        transition: ease-out .6s;
        border-radius: 50%;
        /* scale: 0; */
    }

    section.recruit .right dl dd a:hover::after {
        scale: 12;
    }
}

@media (min-width: 1440px) {
    .topics {
        width: 370%;
    }

    .topic {
        margin: auto auto;
        height: 560px;
    }

    .topic .image {
        margin-left: 4rem;
    }

    .topic .text {
        width: 40%;
        max-width: 300px;
    }
}

@media (min-width: 1720px) {
    .topics {
        width: 350%;
    }
}