.header-wrap {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}

.header-wrap::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: ease .2s;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 11rem;
    padding: 0 4rem;
}

.header .header-background {
    display: block;
    content: '';
    width: 100%;
    height: 44vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: #fff;
    z-index: -5;
    transform: translateY(-50vh);
    transition: ease .5s all;
    transition-property: transform opacity;
}

.logo {
    width: 16rem;
    height: auto;
}

.logo a span {
    display: block;
    visibility: hidden;
    line-height: 0;
}

.header hr {
    width: 0%;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 11rem;
    transform: translate(-50%, 0);
    outline: 0;
    border-top: 1px solid #ddd;
    transition: ease .3s all;
}

.header nav {
    height: inherit;
    background: transparent;
}

.depth1-list {
    height: inherit;
}

.depth1-list>ul {
    display: flex;
    justify-content: center;
    grid-gap: 4rem;
    height: inherit;
    width: 100%;
    transition: ease 0.2s;
}

.depth1-list>ul>li {
    width: 7rem;
    height: inherit;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    transition: ease 0.3s width, ease .2s color;
}

.depth1-list>ul>li i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: -.6rem;
    z-index: 10;
    transform: translateX(-50%);
}

.depth1-list>ul>li i::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: #0064d5;
    transition: ease .2s;
}

.depth1-list>ul>li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.depth1-list>ul>li:hover>a {
    color: #0064d5;
    font-weight: 600;
}

.depth1-list>ul>li:hover i::after {
    width: 100%;
    height: 100%;
}

/* depth2 style */

.header-wrap .depth2 {
    width: 100%;
    z-index: -3;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translateY(-50vh);
    overflow: hidden;
    transition: ease .5s;
}

.depth1-list>ul>li:last-child .depth2 ul {
    border-right: 1px solid #ddd;
}

.header-wrap .depth2 ul {
    display: block;
    width: 100%;
    height: inherit;
    padding-top: 4rem;
    border-left: 1px solid #ddd;
    transform: translateY(-50vh);
}

.depth2 ul li {
    font-size: 1.8rem;
    font-weight: 400;
    color: #666;
}

.depth2 ul li+li {
    margin-top: 1rem;
}

.depth2 ul li:hover a {
    color: #0064d5;
    font-weight: 600;
}

.depth1-list>ul>li:hover .depth2 ul {
    background: #f2faff
}

/* header active style */
.active.header-wrap::after {
    opacity: 1;
}

.active .header .header-background {
    transform: translateY(0);
    opacity: 1;
}

.active .header .depth1-list>ul {
    grid-gap: 0;
}

.active .depth1-list>ul li {
    width: 20rem;
    color: #333;
}

.active.header-wrap .depth2 {
    transform: translateY(11rem);
    height: calc(44vh - 11rem);
    opacity: 1;
}

.active.header-wrap .depth2 ul {
    transform: translateY(0);
}

.active .header hr {
    width: 100%;
    opacity: 1;
}


@media (max-width: 320px) {
    .media-header-wrap {
        z-index: 1000;
    }

    .media-header-wrap .header {
        height: 6.8rem;
        padding: 0 1.5rem;
    }

    .media-header-wrap .logo {
        width: 50%;
        max-width: 13rem;
    }

    .media-header-wrap .menu-button {
        display: flex;
        width: 3.6rem;
        height: 3.6rem;
        transform: translateX(.6rem);
        z-index: 2000;
    }

    .media-header-wrap .menu-button button {
        width: 100%;
        height: 100%;
        padding: .6rem;
    }

    .media-header-wrap .menu-button button .menu-icon {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        height: 1.6rem;
        margin: auto auto;
    }

    .media-header-wrap .menu-button button .menu-icon .line {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        border-radius: 2px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .media-header-wrap .menu-button button .menu-icon .line-1 {
        top: 0%;
        transition: top .2s ease .2s, transform .2s ease, background .2s ease .6s;
    }

    .media-header-wrap .menu-button button .menu-icon .line-2 {
        left: 50%;
        transform: translate(-50%, -50%);
        transition: ease .2s width, background .2s ease .6s;
    }

    .media-header-wrap .menu-button button .menu-icon .line-3 {
        top: 100%;
        transition: top .2s ease .2s, transform .2s ease, background .2s ease .6s;
    }

    .media-header-wrap .menu-button button.close .menu-icon .line-2 {
        width: 0;
        background: #333;
    }

    .media-header-wrap .menu-button button.close .menu-icon .line-1 {
        background: #333;
        top: 50%;
        transform: rotate(45deg);
        transition: top .2s ease .2s, transform .2s ease .4s, background .2s ease .4s;
    }

    .media-header-wrap .menu-button button.close .menu-icon .line-3 {
        background: #333;
        top: 50%;
        transform: rotate(-45deg);
        transition: top .2s ease .2s, transform .2s ease .4s, background .2s ease .4s;
    }

    .menu-wrap {
        display: block;
        width: 100%;
        height: 100vh;
        background: #fff;
        position: fixed;
        top: 0;
        left: 100vw;
        z-index: 1500;
        transition: .5s ease .4s;
    }

    .menu-wrap.active {
        left: 0;
    }
}