@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

*,
body,
html {
    font-family: 'Pretendard';
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.01em;
    box-sizing: border-box;
    position: relative;
}

a,
span {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
}

strong {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.hide {
    display: block;
    text-indent: -9999px;
    visibility: hidden;
    line-height: 0;
}

.wrap {
    display: block;
    width: 100vw;
    overflow: hidden;
}