@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*,
body,
html {
  font-family: 'Pretendard';
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.01em;
  box-sizing: border-box;
  position: relative;
  color: #333;
}

a,
p,
span {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
ul,
li,
dl,
dt,
dd {
  color: inherit;
}

strong {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.hide {
  display: block;
  text-indent: -9999px;
  visibility: hidden;
  line-height: 0;
}

.wrap {
  display: block;
  width: 100vw;
  overflow: hidden;
}