@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

*,
body,
html {
  font-family: 'Pretendard';
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.01em;
  box-sizing: border-box;
  position: relative;
  color: #333;
  padding: 0;
  margin: 0;
}

body {
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
}

a,
p,
span {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}

a::active {
  color: inherit;
  text-align: none;
}

h1,
h2,
h3,
h4,
h5,
ul,
li,
dl,
dt,
dd {
  color: inherit;
}

strong {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  cursor: pointer;
}

&::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.hide {
  display: block;
  text-indent: -9999px;
  visibility: hidden;
  line-height: 0;
}

.wrap {
  display: block;
  width: 100vw;
  overflow: hidden;
}

#root {
  overflow: hidden;
}

ul,
ol,
li {
  list-style: none;
}